---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
SortIncludes: CaseSensitive
SpaceBeforeParens: ControlStatements
NamespaceIndentation: All
...
