<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="javelinmail" version="16">
  <MenuBar>
    <Menu name="file"><text>&amp;File</text>
      <Action name="compose_new_message"/>
      <Separator/>
      <Action name="quit_application"/>
    </Menu>
    <Menu name="edit"><text>&amp;Edit</text>
      <Action name="undo_operation"/>
      <Action name="redo_operation"/>
    </Menu>
    <Menu name="account"><text>&amp;Account</text>
      <Action name="refresh_from_server"/>
      <Action name="advanced_search"/>
      <Action name="open_contacts"/>
      <Action name="open_calendar"/>
      <Action name="open_sieve_editor"/>
      <Action name="open_sending_identities"/>
    </Menu>
    <Menu name="message"><text>&amp;Message</text>
      <Action name="compose_reply"/>
      <Action name="compose_reply_all"/>
      <Action name="compose_forward"/>
      <Action name="compose_edit_draft"/>
      <Separator/>
      <Action name="view_message_source"/>
      <Separator/>
      <Action name="archive_email"/>
      <Action name="mark_email_unread"/>
      <Action name="toggle_email_junk"/>
      <Action name="tag_email"/>
      <Action name="delete_email"/>
      <Action name="move_email"/>
      <Action name="copy_email"/>
    </Menu>
    <Menu name="settings"><text>&amp;Settings</text>
      <Action name="options_configure"/>
      <Separator/>
      <Action name="open_developer_options"/>
    </Menu>
    <Menu name="help"><text>&amp;Help</text>
      <Action name="open_application_log"/>
    </Menu>
  </MenuBar>
  <ToolBar name="mainToolBar"><text>Mail Toolbar</text>
    <Action name="compose_new_message"/>
    <Action name="compose_reply"/>
    <Action name="compose_forward"/>
    <Separator/>
    <Action name="archive_email"/>
    <Action name="delete_email"/>
    <Action name="move_email"/>
    <Action name="copy_email"/>
    <Action name="tag_email"/>
    <Separator/>
    <Action name="refresh_from_server"/>
    <Action name="advanced_search"/>
    <Action name="open_contacts"/>
    <Action name="open_calendar"/>
    <Separator/>
    <Action name="toggle_dark_mode"/>
    <Action name="options_configure"/>
  </ToolBar>
  <ToolBar name="composeToolBar"><text>Compose Toolbar</text>
    <Action name="compose_send"/>
    <Action name="compose_save_draft"/>
    <Action name="compose_attach_files"/>
    <Action name="compose_signature"/>
    <Separator/>
    <Action name="compose_rich_text"/>
  </ToolBar>
  <ToolBar name="contactsToolBar"><text>Contacts Toolbar</text>
    <Action name="contact_new"/>
    <Action name="contact_edit"/>
    <Action name="contact_delete"/>
    <Action name="contact_copy"/>
    <Action name="contact_import"/>
    <Action name="contact_export"/>
    <Action name="contact_duplicates"/>
    <Action name="contact_add_to_group"/>
    <Action name="contact_remove_from_group"/>
    <Separator/>
    <Action name="contact_manage_address_books"/>
    <Action name="contact_refresh"/>
  </ToolBar>
  <ToolBar name="calendarToolBar"><text>Calendar Toolbar</text>
    <Action name="calendar_new_event"/>
    <Separator/>
    <Action name="calendar_previous_month"/>
    <Action name="calendar_today"/>
    <Action name="calendar_next_month"/>
    <Separator/>
    <Action name="calendar_list"/>
    <Action name="calendar_refresh"/>
  </ToolBar>
</gui>
