[Desktop Entry]
Type=Application
Version=1.0
Name=Javelin Mail
Comment=A KDE-focused JMAP email client
Exec=javelin %u
Icon=javelinmail
Terminal=false
Categories=Network;Email;Office;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
StartupWMClass=javelin
