[Desktop Entry]
Type=Application
Version=1.0
Name=Javelin Mail
Comment=A JMAP email client
Exec=javelin
Icon=javelinmail
Terminal=false
Categories=Network;Email;Office;
StartupNotify=true
StartupWMClass=javelin
