<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="javelinmail" version="5">
  <MenuBar>
    <Menu name="file"><text>&amp;File</text>
      <Action name="compose_new_message"/>
      <Separator/>
      <Action name="quit_application"/>
    </Menu>
    <Menu name="account"><text>&amp;Account</text>
      <Action name="refresh_from_server"/>
      <Action name="advanced_search"/>
      <Action name="open_contacts"/>
    </Menu>
    <Menu name="message"><text>&amp;Message</text>
      <Action name="compose_reply"/>
      <Action name="compose_reply_all"/>
      <Action name="compose_forward"/>
      <Action name="compose_edit_draft"/>
      <Separator/>
      <Action name="view_message_source"/>
      <Separator/>
      <Action name="archive_email"/>
      <Action name="mark_email_unread"/>
      <Action name="delete_email"/>
      <Action name="move_email"/>
      <Action name="copy_email"/>
    </Menu>
    <Menu name="settings"><text>&amp;Settings</text>
      <Action name="options_configure"/>
    </Menu>
  </MenuBar>
  <ToolBar name="mainToolBar"><text>Main Toolbar</text>
    <Action name="compose_new_message"/>
    <Action name="compose_reply"/>
    <Action name="compose_forward"/>
    <Separator/>
    <Action name="archive_email"/>
    <Action name="delete_email"/>
    <Action name="move_email"/>
    <Action name="copy_email"/>
    <Separator/>
    <Action name="refresh_from_server"/>
    <Action name="advanced_search"/>
    <Action name="open_contacts"/>
    <Separator/>
    <Action name="options_configure"/>
  </ToolBar>
</gui>
